.file-browser__row,
.file-browser__row--selected {
	display: flex;
	color: white;
	align-items: center;
	font-size: 0.75rem;
	padding-left: 0.5rem;
}

.file-browser__row:hover {
	background: rgba(255, 255, 255, 0.1);
}

.file-browser__row {
	border: 1px black solid;
}

.file-browser__row--selected {
	background: rgba(255, 255, 255, 0.1);
	border: 1px grey solid;
}

.file-browser__row__icon img {
	height: 1.5rem;
	width: 1.5rem;
}

.file-browser__row__name {
	padding-left: 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.file-browser__row,
.file-browser__row--selected {
	margin-top: 0.3rem;
}