@import "../../../../index.scss";

.date-display__input {
	height: 100%;
	visibility: hidden;
	width: 100%;
	position: absolute;
	padding: 0;
}

.date-display__overlay {
	display: flex;
	color: $ui-text-colour;
	font-size: 0.75rem;
	width: 100%;
	padding: 0 0.2rem 0 0.2rem;
}

.date-display:hover {
	background: rgba(255, 255, 255, 0.1);
}

.date-display {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-left: 0.4rem;
	position: relative;
	border-radius: 0.1875rem;

	@media screen and (max-width: 23.125rem) {
		display: none;
	}
}
