#canvas {
    width: 100%;
    position: fixed;
}

#footer {
  width: 100%;
  background-color: #000000;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 35%;
  text-align: center;
}

 @font-face { font-family: IBMPlexSerif-Thin; src: url('IBMPlexSerif-Thin.ttf');}
 
 @font-face { font-family: IBMPlexSerif-Regular; src: url('IBMPlexSerif-Regular.ttf');}

a {
	font-size: 30px;
	color: white;
	text-decoration: none;
	font-family: IBMPlexSerif-Regular;
	padding: 70px;
}

html body{
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
}
