@import '../../index.scss';

.button {
    color: $ui-text-colour;
    border: none;
    outline: none;
    background-color: $button-background;
    border: 0.125rem solid $button-border;
    border-radius: 0.3125rem;
}

.button:hover {
    background-color: $hover-button-background;
}
