@use "../../../../scss/colours";
@use "../../../../scss/styles";

.taskbar-group__container,
.taskbar-group__container--selected {
	display: flex;
	position: relative;
	padding: 0rem 0.5rem 0rem 0.5rem;
	height: calc(100% - 0.7rem);
	border-radius: styles.$window-border-radius;
	margin-right: 0.5rem;
}

.taskbar-group__container--selected.taskbar-group__container--multiple {
	border-right: 0.25rem solid #00000029;
}

.taskbar-group__container.taskbar-group__container--multiple {
	border-right: 0.25rem solid rgba(37, 37, 38, 0);
}

.taskbar-group__container:hover,
.taskbar-group__container--selected {
	background-color: colours.$taskbar-button-background-selected;
}

.taskbar-group__container__taskbar-group,
.taskbar-group__container__taskbar-group--selected {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.taskbar-group__container__taskbar-group__icon,
.taskbar-group__container__taskbar-group__icon--selected {
	position: relative;
}

.taskbar-group__container__taskbar-group__icon img,
.taskbar-group__container__taskbar-group__icon--selected img {
	height: 1.5rem;
	width: 1.5rem;
	padding-bottom: 0.3rem;
}

.taskbar-group__container__taskbar-group__icon:after,
.taskbar-group__container__taskbar-group__icon--selected:after {
	content: "";
	position: absolute;
	top: 1.8rem;
	height: 0.2rem;
	border-radius: 2rem;
}

.taskbar-group__container__taskbar-group__icon:after {
	background: colours.$ui-deselected-indicator;
	width: 0.225rem;
	left: calc(calc(100% - 0.225rem) / 2);
}

.taskbar-group__container__taskbar-group__icon--selected:after {
	background: colours.$ui-selected-indicator;
	width: 0.8rem;
	left: calc(calc(100% - 0.8rem) / 2);
}

.taskbar-group__container__taskbar-group {
	border-bottom: styles.$deselected-taskbar-item-border-bottom;
}
