@use '../../../../scss/colours';

.file-browser-controls {
	display: flex;
	padding: 0.5rem;
	background-color: colours.$window-top-bar;
}

.file-browser-controls > .file-browser-location-bar {
	margin-right: 0.5rem;
	width: 80%;
}

.file-browser-controls > .search-bar {
	height: 1.3rem;
}
