@font-face {
    font-family: 'Segoe';
    src: url("../../../../../../fonts/Segoe UI.ttf");
}

.desktop-item, .desktop-item-selected {
    position: absolute;
    font-family: 'Segoe';
    color: white;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;

    .desktop-item-container {
        width: 60px;

        .desktop-item-name {
            display: inline-block;
            font-size: 12px;
            width: 100%;
            text-align: center;
            text-shadow: 1px 1px 2px black;
            max-height: 32px;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        svg {
            padding-left: 6px;
        }
    }
}

.desktop-item-selected, .desktop-item:hover {
    background: rgba(255, 255, 255, 0.2);
}