@use "../../../../scss/colours";

.file-browser-grid-view {
	width: 100%;
	color: colours.$ui-text-colour;
	margin-left: 0.25rem;
	font-size: 0.75rem;
	width: calc(100% - 1rem);
	height: 100%;
}

.file-browser-grid-view__content {
	display: flex;
	flex-direction: column;
	min-width: 0;
}

.file-browser-grid-view__content__row,
.file-browser-grid-view__content__row--selected {
	height: 1.5rem;
}

.file-browser-grid-view__content__row,
.file-browser-grid-view__content__row--selected,
.file-browser-grid-view__head {
	display: flex;
	width: 100%;
}

.file-browser-grid-view__head {
	height: 2rem;
}

.file-browser-grid-view__head,
.file-browser-grid-view__head > .expandable {
	min-width: 9rem;
}

.file-browser-grid-view__head > .expandable {
	width: 9rem;
}

.file-browser-grid-view__head__row {
	text-align: left;
}

.file-browser-grid-view__head__row__cell {
	font-weight: normal;
}

.file-browser-grid-view__content__row__cell__date,
.file-browser-grid-view__head__date {
	min-width: 7.25rem;
}

.file-browser-grid-view__head__name,
.file-browser-grid-view__head__date,
.file-browser-grid-view__head__type,
.file-browser-grid-view__head__size {
	display: flex;
	height: 100%;
	width: 100%;
	border-right: 0.0125rem solid rgba(169, 169, 169, 0.12);
}

.file-browser-grid-view__head__name__text,
.file-browser-grid-view__head__date__text,
.file-browser-grid-view__head__type__text,
.file-browser-grid-view__head__size__text,
.file-browser-grid-view__content__row__cell__name__text,
.file-browser-grid-view__content__row__cell__date__text,
.file-browser-grid-view__content__row__cell__type__text,
.file-browser-grid-view__content__row__cell__size__text,
.file-browser-grid-view__content__row__cell__name__inner {
	padding-left: 0.5rem;
}

.file-browser-grid-view__content__row__cell__name__inner {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.file-browser-grid-view__content__row__cell__type,
.file-browser-grid-view__head__type,
.file-browser-grid-view__content__row__cell__size,
.file-browser-grid-view__head__size {
	min-width: 3.9375rem;
}

.file-browser-grid-view__content__row__cell__name,
.file-browser-grid-view__content__row__cell__date,
.file-browser-grid-view__content__row__cell__type,
.file-browser-grid-view__content__row__cell__size,
.file-browser-grid-view__head__name,
.file-browser-grid-view__head__date,
.file-browser-grid-view__head__type,
.file-browser-grid-view__head__size {
	display: flex;
	align-items: center;
	min-width: 9rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.file-browser-grid-view__content__row__cell__name span,
.file-browser-grid-view__content__row__cell__date span,
.file-browser-grid-view__content__row__cell__type span,
.file-browser-grid-view__content__row__cell__size span,
.file-browser-grid-view__head__name span,
.file-browser-grid-view__head__date span,
.file-browser-grid-view__head__type span,
.file-browser-grid-view__head__size span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.file-browser-grid-view__head__name:hover,
.file-browser-grid-view__head__date:hover,
.file-browser-grid-view__head__type:hover,
.file-browser-grid-view__head__size:hover {
	background-color: colours.$hover-button-background;
}

.file-browser-grid-view__content__row:hover,
.file-browser-grid-view__head__row__cell:hover {
	background-color: colours.$hover-button-background;
}

.file-browser-grid-view__content__row--selected {
	background-color: colours.$hover-button-background;
}

.file-browser-grid-view__content__row__cell__name__inner > .icon-container,
.file-browser-grid-view__content__row__cell__name__inner__icon {
	height: 1.25rem;
	width: 1.25rem;
}