@use '../../../../scss/colours';

.base-information-pane {
	height: 2rem;
	background-color: rgba(169, 169, 169, 0.12);
	color: colours.$ui-text-colour;
	font-size: 0.75rem;
	display: flex;
	align-items: center;
}

.base-information-pane img {
	margin-left: auto;
	display: flex;
}

.base-information-pane__text {
	padding-left: 0.5rem;
}

.base-information-pane__thumbs,
.base-information-pane__thumbs--selected {
	width: 1.25rem;
	height: 1.25rem;
	margin-right: 0.5rem;
}

.base-information-pane__thumbs--selected {
	background-color: colours.$hover-button-background-selected;
}
