.screen-saver__one,
.screen-saver__two {
    height: calc(100% + 1.875rem);
    width: 100%;
    position: absolute;
}

.screen-saver__two__image,
.screen-saver__one__image {
    height: 100%;
    width: 100%;
}