@import "../../../../index.scss";

.desktop-item {
	width: 6rem;
	overflow: clip;
	cursor: pointer;
	margin-bottom: 1rem;
	color: $ui-text-colour;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0rem 0.5rem 0rem;
}

.desktop-item--selected {
	background: $hover-button-background-selected;
}

.desktop-item:hover,
.desktop-item--selected:hover {
	background: $hover-button-background;
}

.desktop-item__name {
	text-align: center;
	font-size: 0.75rem;
	word-wrap: anywhere;
	text-shadow: 0.125rem 0.125rem 0.8125rem black;
}
