.screen {
    height: inherit;
    width: inherit;
    background-size: cover;
}

.screen__saver__one,
.screen__saver__two {
    height: 100%;
    width: 100%;
    position: absolute;
}

.screen__saver__one img,
.screen__saver__two img {
    height: 100%;
    width: 100%;
}
