@import "../../index.scss";

.file-browser {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.file-browser__result-pane {
	height: 100%;
	width: 100%;
	display: flex;
	align-content: flex-start;
	cursor: default;
	flex-wrap: wrap;
	overflow: scroll;
}
