.file-browser {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.file-browser__result-pane {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	cursor: default;
	overflow: scroll;
}

.file-browser__information-pane {
	color: white;
	font-size: 0.75rem;
}