@use '../../scss/colours';

.file-selector {
    color: colours.$ui-text-colour;
    display: none;
}

.file-selector::file-selector-button {
    color: colours.$ui-text-colour;
    border: none;
    outline: none;
    background-color: colours.$button-background;
    border: 0.125rem solid colours.$button-border;
    border-radius: 0.3125rem;
}

.file-selector::file-selector-button:hover {
    background-color: colours.$hover-button-background;
}