@use "../../scss/styles";

.taskbar {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: rgba(37, 37, 38, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	z-index: 1001;
}

.taskbar > .search-bar__input {
	margin: 0 0.4rem 0 0.4rem;
}

.taskbar > .search-bar {
	flex-grow: 0;
}

.taskbar > *,
.taskbar__items-container > * {
	height: calc(100% - 0.7rem);
	border-radius: styles.$window-border-radius;
}

.taskbar__items-container {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-grow: 1;
	overflow: scroll;
	align-items: center;
}
