@use "../../scss/styles";
@use "../../scss/colours";

.taskbar {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: colours.$taskbar-background;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	z-index: 1001;
}

.taskbar > .search-bar__input {
	margin: 0 0.4rem 0 0.4rem;
}

.taskbar > .search-bar {
	flex-grow: 0;
	border-radius: 1rem;
}

.taskbar > * {
	height: calc(100% - 0.7rem);
	border-radius: styles.$window-border-radius;
}

.taskbar__groups-container {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-grow: 1;
	overflow: scroll;
	align-items: center;
}
