@use '../../../../scss/colours';

.file-browser-location-bar__input {
	background-color: transparent;
	outline: none;
	border: none;
	color: colours.$ui-text-colour;
	width: calc(100% - 2.25rem);
}

.file-browser-location-bar {
	background-color: transparent;
	border: 0.125rem solid colours.$hover-button-background;
	border-radius: 0.1875rem;
	display: flex;
	align-items: center;
	height: 1.3rem;
}

.file-browser-location-bar > img {
	width: 1rem;
	height: 1rem;
	padding: 0rem 0.5rem 0rem 0.5rem;
	display: flex;
}
