@use '../../scss/colours';

.calendar {
	background-color: colours.$ui-background;
	position: absolute;
	opacity: 80%;
	right: 1.45rem;
	bottom: 0.5rem;
	min-width: 20rem;
	min-height: 15rem;
	height: 15rem;
	width: 20rem;
}

.calendar__upper-container__date-display {
	display: flex;
}

.calendar__upper-container__controls__control > img {
	width: 1.25rem;
	height: 1.25rem;
}

.calendar__upper-container,
.calendar__upper-container__controls {
	display: flex;
}

.calendar__upper-container__controls {
	margin-left: auto;
	padding-right: 0.5rem;
}

.calendar__upper-container__controls__control:last-of-type {
	margin-left: 0.3rem;
}

.calendar__upper-container__controls__control img:hover {
	background-color: colours.$hover-button-background;
}

.calendar__upper-container,
.calendar__lower-container__table__column-names,
.calendar__lower-container__table__cell {
	color: colours.$ui-text-colour;
}

.calendar__lower-container__table {
	width: 100%;
	height: 100%;
	text-align: center;
}

.calendar__upper-container {
	padding: 0.5rem 0.5rem 0 0.5rem;
}

.calendar__lower-container {
	height: calc(100% - 3rem);
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.calendar__lower-container__table__cell:hover,
.calendar__lower-container__table__cell--grey:hover {
	background-color: colours.$hover-button-background;
}

.calendar__lower-container__table__cell--grey {
	color: colours.$ui-text-color-background;
}

.calendar__lower-container__table__cell--selected.calendar__lower-container__table__cell--grey {
	color: colours.$ui-text-colour;
}

.calendar__lower-container__table__cell--selected {
	background-color: colours.$hover-button-background-selected;
}