@use "../../../../../../scss/colours";

.taskbar-item,
.taskbar-item--selected {
	display: flex;
	position: relative;
	min-width: 8.125rem;
	cursor: pointer;
	align-items: center;
	height: calc(100% - 0.1rem);
}

.taskbar-item__inner {
	display: flex;
	padding-left: 0.5rem;
	overflow: hidden;
}

.taskbar-item__inner img {
	height: 1rem;
	width: 1rem;
	padding-left: 0.1rem;
}

.taskbar-item__inner__name {
	color: colours.$ui-text-colour;
	padding-left: 0.3125rem;
	font-size: 0.75rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	user-select: none;
	width: 5rem;
}

.taskbar-item--selected {
	border-bottom: 0.1rem solid aqua;
}

.taskbar-item {
	border-bottom: 0.1rem solid rgba(37, 37, 38, 0);
}

.taskbar-item:hover,
.taskbar-item--selected:hover {
	background-color: colours.$taskbar-button-background-selected;
}

.taskbar-item__close-icon {
	position: absolute;
	top: 0;
	right: 0;
	height: 1rem;
	width: 1rem;
	padding: 0.1rem 0.1rem 0rem 0rem;
}

.taskbar-item__close-icon:hover {
	background-color: colours.$hover-button-background-close;
}
