@import "../../index.scss";

.search-bar__input {
	display: flex;
	background: $ui-input-background;
	outline: none;
	border: none;
	color: $ui-text-colour;
	width: calc(100% - 4.5rem);
}

.search-bar {
	display: flex;
	background: $ui-input-background;
	color: $ui-text-colour;
	outline: none;
	border: 0.125rem solid $hover-button-background;
	border-radius: 0.1875rem;
	height: 2rem;
	align-items: center;
	cursor: text;
	flex-shrink: 1;
	width: 14.575rem;

	@media screen and (max-width: 23.125rem) {
		display: none;
	}
}

.search-bar img {
	cursor: default;
}

.search-bar__search-icon,
.search-bar__cancel-icon {
	display: flex;
	padding: 0 0.5rem 0 0.5rem;
}

.search-bar__input::placeholder {
	color: $ui-text-colour;
}
