@import "../../../../../../index.scss";

.start-menu-folder-row:hover {
	background: $hover-button-background;
}

.start-menu-folder-row,
.start-menu-folder-row--selected {
	flex-direction: row;
	align-items: center;
	display: flex;
	padding-left: 0.5rem;
}

.start-menu-folder-row__icon img {
	height: 1.5rem;
	width: 1.5rem;
}

.start-menu-folder-row__arrow-container {
	margin: 0rem 0.5rem 0rem auto;
}

.start-menu-folder-row__arrow-container img {
	height: 1rem;
	width: 1rem;
}

.start-menu-folder-row__name {
	padding-left: 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}