@use "../../scss/colours";

.search-result-pane {
	margin: 0rem 1rem 0rem 1rem;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.search-result-pane__no-items,
.search-result-pane__sub-heading {
	display: block;
	color: colours.$ui-text-colour;
	padding: 1rem;
	font-weight: bold;
}