@import '../../index.scss';

.window {
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: $ui-background;
	min-width: 12.5rem;
	min-height: 9.375rem;
}

.window--selected {
	z-index: 1000;
}

.window__inner-content {
	height: calc(100% - 0.8rem);
	margin: 0.4rem;
	cursor: default;
}

.window__inner-content__content {
	height: calc(100% - 2.5rem);
	width: 100%;
}
