.taskbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;

    .taskbar-items-container {
        width: calc(100% - 140px);
        height: 30px;
        padding-left: 10px;
        display: inline-block;
        float: right;
        position: absolute;
    }
}
