@import "../../../../../../index.scss";

.file-browser-tree__file-row:hover {
	background-color:$hover-button-background;
}

.file-browser-tree__file-row--selected {
	background-color: $hover-button-background;
}

.file-browser-tree__file-row,
.file-browser-tree__file-row--selected {
	flex-direction: row;
	align-items: center;
	display: flex;
	padding-left: 0.5rem;
}

.file-browser-tree__file-row__icon img {
	height: 1.5rem;
	width: 1.5rem;
}

.file-browser-tree__file-row__name {
	padding-left: 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}