$ui-background: #252526;
$ui-input-background: #333337;
$ui-text-colour: #f1f1f1;
$ui-text-color-background: #89898a;
$hover-button-background: hsla(0, 0%, 100%, 0.1);
$hover-button-background-selected: hsla(0, 0%, 100%, 0.4);
$window-top-bar-background: #000000;
$hover-button-background-close: red;
$window-top-bar: #00000070;

html, body, #root {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.no-select {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input {
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
