.cell {
  display: inline-block;
  border: 1px solid #333332;
  background-color: #424242;
  width: 15px;
  height: 15px;
}

.snake {
  background-color: black;
}

.food {
  background-color: rgb(39, 213, 69);
}

.debug {
  background-color: brown;
}

.image {
  width: 64px;
  height: 64px;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  height: 100%;
  width: 100%;
  line-height: 0;
  position: fixed;
}

.overlay {
  opacity: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  line-height: 0;
  position: absolute;
  z-index: 1;
}

.headingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 2;
}

.heading {
  color: white;
  font-family: Helvetica;
  display: block;
  font-size: 60px;
  z-index: 3;
  position: relative;
}

.sub-heading {
  font-family: Helvetica;
  color: white;
  font-size: 30px;
  display: block;
  padding-bottom: 40px;
  z-index: 3;
  position: relative;
}

.sourceCodeButton {
  font-size: 30px;
  color: black;
  text-decoration: none;
  font-family: Helvetica;
  display: inline;
  bottom: 0;
  position: fixed;
  z-index: 2;
  right: 0;
}

.headerButton {
  font-size: 30px;
  color: black;
  text-decoration: none;
  font-family: Helvetica;
  font-weight: 600;
  padding-bottom: 20px;
  display: inline;
  z-index: 3;
  position: relative;
  padding-right: 20px;
}

html body {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  text-align: center;
  background-color: #424242;
}
