$ui-background: #252526;
$button-background: #333337;
$button-border: #808080;
$ui-text-colour: #f1f1f1;
$ui-text-color-background: #89898a;
$hover-button-background: hsla(0, 0%, 100%, 0.1);
$taskbar-button-background: hsl(0, 0%, 20%, 0.9);
$taskbar-button-background-selected: hsla(0, 0%, 100%, 0.1);
$hover-button-background-selected: hsla(0, 0%, 100%, 0.4);
$window-top-bar-background: #000000;
$hover-button-background-close: red;
$window-top-bar: #00000070;
$start-menu-container-background: #a9a9a91c;
$base-information-pane: rgba(169, 169, 169, 0.12);
$ui-selected-indicator: aqua;
$ui-deselected-indicator: grey;
$taskbar-background: rgba(37, 37, 38, 0.8);
