$window-box-shadow: 0.125rem 0.125rem 1.5625rem 0.0625rem #000000;
$window-border-radius: 0.3125rem;
$base-information-pane-font-size: 0.75rem;
$deselected-taskbar-item-border-bottom: 0.1rem solid rgba(37, 37, 38, 0);