.minimize-all {
	width: 1.2rem;
	height: 100%;
	margin: 0 0 0 0.25rem;
	display: flex;
	border-radius: 0.1875rem;
	border-width: 0.125rem;
	flex-shrink: 0;

	@media screen and (max-width: 23.125rem) {
		display: none;
	}
}

.minimize-all:hover {
	background: rgba(255, 255, 255, 0.2);
}
