.minimize-all {
	width: 1.2rem;
	height: 2.4rem;
	margin: 0 0.25rem 0 0.25rem;
	display: flex;
	border-radius: 0.1875rem;
	border-width: 0.125rem;
	flex-shrink: 0;
}

.minimize-all:hover {
	background: rgba(255, 255, 255, 0.2);
}
