.window, .window-selected {
    position: absolute;
    border: 1px solid transparent;
    min-height: 35px;
    min-width: 1px;

    .window-container {
        cursor: default;
    }
}

.window-minimized {
    display: none;
}

.window-selected {
    z-index: 998;
}