@use "../../scss/colours";

.pdf-viewer {
	width: 100%;
	height: 100%;
}

.pdf-viewer-controls {
	display: flex;
	height: 2.5rem;
	align-items: center;
	background-color: colours.$window-top-bar;
	padding-left: 0.5rem;
}

.pdf-viewer-controls > button {
	height: 2rem;
}

.pdf-viewer-content {
	width: 100%;
	height: calc(100% - 2.5rem);
}
