@use "../../../../scss/colours";

.search {
    position: absolute;
    color: colours.$ui-text-colour;
    background-color: colours.$ui-background;
    font-size: 0.75rem;
    opacity: 90%;
    bottom: 3.5rem;
    min-width: 20rem;
    min-height: 30rem;
    max-width: 20rem;
    max-height: 30rem;
    box-shadow: 0.125rem 0.125rem 1.5625rem 0.0625rem #000000;
    border-radius: 0.3125rem;
    overflow-y: scroll;
}
